.detail {
  padding: 1rem;
}
.pokedex {
  @media (min-width:768px) {
    display: flex;
    justify-content: center;
  }
  @media (min-width:1280px) {
    margin: 0 auto;
  }
  max-width: 1280px;
  &__top, &__right, &__hinge, &__bottom {
    width: 100%;
    @media (min-width:768px) {
      // width: 50%;
    }
  }
  &__container-top {
    position: relative;

  }
  &__hinge {
    @media (min-width:768px) {
      display: none;
    }
  }
  &__container-hinge-v {
    display: none;
    @media (min-width:768px) {
      display: block;
      position: absolute;
      top: 51%;
      left: calc( 100% - .25vw - 2.1vw);
    }
    @media (min-width:1280px) {
      left: calc( 100% - 30px);
    }
  }
  &__hinge-v {
    @media (min-width:768px) {
      vertical-align: middle;
      width: 4.2vw;
    }
    @media (min-width: 1280px) {
      width: 54px;
    }
  }
  &__bottom-no-mobile {
    display: none;
    @media (min-width:768px) {
      display: block;
      position: absolute;
      bottom: 0;
      left: calc( -50vw + 1rem + 2.1vw + .25vw );
      z-index: -1;
      width: calc( 100vw - 2rem );
      height: 200px;
      background-color: var(--color-pokedex);
      border-left: .5vw solid #742424;
      border-right: .5vw solid #742424;
      border-bottom: .5vw solid #742424;
      border-bottom-left-radius: 2.2vw;
      border-bottom-right-radius: 2.2vw;
    }
    @media (min-width:1310px) {
      left: calc(-610px);
      width: 1280px;
      border-left: 6px solid #742424;
      border-right: 6px solid #742424;
      border-bottom: 6px solid #742424;
      border-bottom-left-radius: 28px;
      border-bottom-right-radius: 28px;
    }

  }

  &__bottom {
    @media (min-width:768px) {
      display: none;
    }
  }

  &__content-left, &__content-right {  
    @media (min-width:768px) {
      width: 50%;
    }
  }

  &__content-1, &__content-2{
    display: flex;
    flex-direction: column;
    align-items: center;  
    background-color: var(--color-pokedex);
    border-left: 1.28vw solid #742424;
    border-right: 1.28vw solid #742424;
    @media (min-width:768px) {
      width: 100%;
      margin: 0;
      border-left: .5vw solid #742424;
      border-right: .5vw solid #742424;
    }
    @media (min-width:1280px) {
      border-left: 6px solid #742424;
      border-right: 6px solid #742424;
    }
  }

  &__content-1 {
    padding-top: 15vw;
    margin-top: -15vw;
    @media (min-width:768px) {
      padding-top: 6vw;
      margin-top: -6vw;
    }
    @media (min-width:1280px) {
      padding-top: 77px;
      margin-top: -77px;
    }
  }

  &__frame-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: 5%;
    background-color: #bfbfbf;
    border: 3px solid black;
    border-radius: 8px;
    @media (min-width:768px) {
      margin: 6%;
    }
    @media (min-width:1280px) {
      margin: 30.5px;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    width: calc(100% - 1.5vw);
    // padding: 12% 0;
    height: 43vw;
    margin: 3vw;

    background-color: var(--color-type-green);
    @media (min-width:768px) {
      margin: 1.5vw;
      height: 25vw;
    }
    @media (min-width:1280px) {
      width: calc(100% - 19px);
      margin: 19px;
      height: 320px;
    }
  }
  &__image img{
    width: 40%;
    padding: 10px 0;
  }
  &__frame-container.name {
    width: 70%;
    @media (min-width:768px) {
      margin: 3.5% 0;
    }
    @media (min-width:1280px) {
      margin: 40px 0;
    }
  }
  &__frame-container.type, &__frame-container.stat {
    @media (min-width:768px) {
      margin: 2vw 0;
    }
    @media (min-width:860px) {
      margin: 3vw 0;
    }
    @media (min-width:1000px) {
      margin: 4.8vw 0;
    }
    @media (min-width:1280px) {
      margin: 75px 0;
    }
  }
  &__frame-container.stat {
    @media (min-width:1280px) {
      margin: 85px 0;
    }
  }
  &__name {
    width: calc(100% - 1.5vw);
    margin: 3vw;
    @media (min-width:768px) {
      margin: 1.5vw;
    }
    @media (min-width:1280px) {
      margin: 19px;
    }
  }
  &__name h2 {
    margin: 0;
    padding: .7rem 0;
    font-size: 1.2rem;
    text-align: center;
    background-color: var(--color-white);
  }
  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-bottom: 3vw;

    @media (min-width:1280px) {
      margin-bottom: 46px;
    }
  }
  &__buttons button {
    position: relative;
    padding: 0;
    border: 0;
    background-color: var(--color-pokedex);
  }
  &__buttons button img {
    position: relative;
    z-index: 1;
  }
  &__container-buttons{
    position: absolute;
    top: 14.5%;
    left: 14.5%;
    z-index: 0;
    width: 70%;
    height: 70%;
    padding: 0;
    background-color: var(--color-primary-70);
    border-radius: 50%;
    animation-name: button-effect;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
  }
  @keyframes button-effect {
    0% {
      opacity: 0.55;
      transform: scale(1.5);
    }
    100% {
      opacity: 0;
      transform: scale(2.7);
    }
  }
  &__buttons button img {
    width: 12vw;
    vertical-align: middle;
    @media (min-width:768px) {
      width: 7vw;
    }
    @media (min-width:1280px) {
      width: 89px;
    }
  }
  &__buttons button:nth-of-type(2) {
    transform: rotate(180deg);
  }
  &__price {
    width: calc(100% - 1.5vw);
    padding: .7rem 0;
    margin: 3vw;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: #AC2314;
    background-color: var(--color-white);
    @media (max-width:319px) {
      font-size: .8rem;
    }
    @media (min-width:768px) {
      margin: 1.5vw;
      font-size: 1.4rem;
    }
    @media (min-width:1280px) {
      margin: 19px;
    }
  }

  &__content-2{
    padding-top: 1rem;
    margin-top: -1rem;
    @media (min-width:768px) {
      padding-top: -4.2vw;
      margin-top: 4.2vw;
    }
    @media (min-width:1280px) {
      padding-top: -53px;
      margin-top: 53px;
    }
  }
  &__types, &__stats {
    width: calc(100% - 1.5vw);
    margin: 3vw;
    font-weight: 500;
    text-align: center;
    @media (min-width:768px) {
      margin: 1.5vw;
    }
    @media (min-width:1280px) {
      width: calc(100% - 19px);
      margin: 19px;
    }
  }
  &__types {
    display: flex;
    justify-content: space-evenly;
    align-items: center;  
    padding: .7rem 0;
    background-color: #FFF8D2;
    @media (min-width:420px) {
      font-size: 1.2rem;
    }
    @media (min-width:1280px) {
      margin: 19px;
    }
  }
  &__types img {
    width: 12.5%;
    @media (min-width:1280px) {
      width: 11%;
    }
  }
  &__stats {
    padding: 20px 0;
    background-color: #FFD6B4;
    @media (min-width:450px) {
      padding: 20px 0;
      font-size: 1.2rem;
    }
    @media (min-width:768px) {
      padding: 10px 0;
      margin: 1.5vw;
    }
    @media (min-width:1000px) {
      padding: 20px 0;
    }
    @media (min-width:1280px) {
      margin: 19px;
    }
  }

  &__stats-data {
    display: flex;
    justify-content: space-evenly;
  }
  &__stats-left, &__stats-right {
    padding: 4px;
    margin: 15px 5px;
    border: 2px solid rgb(255, 164, 90);
    border-radius: 8px;
    background-color: var(--color-white);
    @media (max-width:319px) {
      font-size: .7rem;
    }
    @media (min-width:420px) {
      font-size: 1rem;
    }
  }
  &__stats-left {
    padding: 15px 0;
  }
  &__stats-left div, &__stats-right div {
    padding: 3px;
    font-size: .7rem;
    
    @media (min-width:386px) {
      padding: 3px 3.5vw;
    }
    @media (min-width:518px) {
      padding: 3px 2.5vw;
      font-size: 1rem;
    }
    @media (min-width:768px) {
      padding: 3.5px 1.0vw;
      font-size: .8rem;
    }
    @media (min-width:1280px) {
      padding: 4px 19px;
      font-size: 1.2rem;
    }
  }

  &__stats-right {
    display: inherit;
    flex-direction: column;
    justify-content: center;
  }

  &__right {
    display: none;
    @media (min-width:768px) {
      display: block;
      position: relative;
      top: 6.6vw;
      z-index: -1;
      width: 100%;
    }
    @media (min-width:1280px) {
      top: 85px;
    }
  }
  
}

.buttons {
  margin-top: 1.5vw;
  @media (min-width:1000px) {
    margin-top: 2.5vw;
  }
  @media (min-width:1280px) {
    margin-top: 0;
  }
}

.back-to-home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin: 13vw auto;
  margin-bottom: 40px;
  font-weight: 500;
  cursor: pointer;

  @media (min-width: 1280px) {
    margin: calc(0.13 * 1280px) auto;
    margin-bottom: 70px;
  }

  & span {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background: url("../../assets/icons/back_icon.svg") center/cover no-repeat;
  }

}
