.pokedex {

  &__top, &__right, &__hinge, &__bottom {
    width: 100%;
  }

  &__content-1, &__content-2{
    background-color: var(--color-pokedex);
    border-left: 3px solid #000;
    border-right: 3px solid #000;
  }

  &__content-1 {
    padding-top:3rem;
    margin-top: -3rem;
  }

  &__content-2{
    margin-top: -1rem;
    padding-top: 1rem;
  }

  &__right {
    display: none;
  }
}