@import '../../../node_modules/@yaireo/ui-range/ui-range.scss';

// .filter {
//   position: relative;
//   background-color: white;
//   left: 0;

//   &__icon {
//     display: none;
//   }
// }

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // width: 100%;
  padding: 0 1.5em;
  border-right: 1px solid var(--color-black-10);
  width: 300px;

  fieldset {
    border: none;
  }

  legend {
    margin-bottom: 1.2em;
    font-weight: bold;
  }

  &__price {
    display: flex;
    flex-direction: column;

    .range-slider {
      margin: 0.5em 0;
    }
    .range-slider > input + output::after {
      display: none;
      z-index: 0;
    }
    .range-slider > input:hover + output::after {
      display: inherit;
    }

    &-input {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 1em;
      width: 100%;
    }
    hr {
      width: 1em;
      border: 1px solid var(--color-black-20);
    }
    input[type='number'] {
      width: 6.5em;
      height: 2.5em;
      padding: 0.5em;
      border-radius: 5px;
      outline: none;
      border: 1px solid var(--color-black-20);
      color: var(--color-black-80);
    }
  }

  &__types {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    margin-top: 3em;
    label {
      display: flex;
      align-items: center;
      margin: 0.5em 0;
      width: fit-content;
    }

    input[type='checkbox'] {
      width: 1.1em;
      height: 1.1em;
      margin-right: 0.6em;
      cursor: pointer;
      border: none !important;
    }
  }
}

@media (max-width: 768px) {
  .form {
    display: none;
  }
  .form-visible {
    position: absolute;
    display: flex;
    background-color: white;
    left: 0;
    z-index: 100;
  }

  .filter__icon {
    display: flex;
    cursor: pointer;
  }
}
