@import '../../../node_modules/@yaireo/ui-range/ui-range.scss';


.filter{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 80vh;
    padding: 1.5em;
    background: lightgreen;
    
    &__price{
        display: flex;
        flex-direction: column;

        .range-slider > input + output::after{
            display:none;
        }
        .range-slider > input:hover + output::after{
            display:inherit;
        }

        &-numbers{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: .5em;
            width: 100%;
        }
        hr{
            width: 1em;
            border: 1px solid rgba($color: #000000, $alpha: 0.3);
        }
        input[type="number"]{
            width: 6.5em;
            height: 2.5em;
            padding: .5em;
            border-radius: 5px;
            outline: none;
            border: 1px solid rgba($color: #000000, $alpha: 0.3)
        }
    }

    &__types{
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        label{
            display: flex;
            align-items: center;
            margin: 1em 0;
            width: fit-content;
        }
    
        input[type="checkbox"] {
            width: 1.2em;
            height: 1.2em;
            margin-right: .6em;
        }
    }
}