
.footer{
    display: grid;
    width: 100%;
    grid-gap: 5px;
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: #000;
    color: white;
    padding: 8px 0;
    grid-template-areas: "storeLogo sections us separator socialMedia";
    grid-template-columns: 1fr 1fr 1fr 2px .2fr;
    grid-template-rows: 125px;
    
    &__line{
        grid-area: separator;
        width: 141px;
        transform: rotate(90deg);
    }

    &__logo{
        grid-area: storeLogo;
        display: flex;
        justify-self: center;
        align-items: center;
        height: 100%;
        width: 250px;

        img{
            width: 100%
        }
    }

    &__sections{
        grid-area: sections;
        list-style: none;
        text-align: center;
        padding: 0;
        font-size: 15px;
        font-weight: 700;
        display: flex;
        flex-direction: column; 
        justify-content: space-evenly;
        width: 100%;
        height: 90%;
        
        a{
            text-decoration: none;
            color: white;
        }
        
        @media (min-width: 800px) {
            :nth-child(1){
                align-self: flex-start;
            }
            :nth-child(2){
                align-self: center;
            }
            :nth-child(3){
                align-self: flex-end;
            }
        }

    }
    
    &__us{
        grid-area: us;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 14px;
        &-logo{
            display: grid;
            place-items: center;
            margin-top: 10px;
            img{
                width: 35%;
            }
        }
    }
    
    &__social{
        grid-area: socialMedia;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &-circle{
            width: 30px;
            height: 30px;
            display: grid;
            place-items: center;
            background: #2AC769;
            border-radius: 50%;
            
            img{
                width: 60%;
                height: 60%;
            }
        }
    }
}

@media (max-width: 800px) {
    .footer{
        grid-template-areas: "storeLogo sections us"
                             "separator separator separator"
                             "socialMedia socialMedia socialMedia";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 120px .1fr 35px;

        &__logo{
            width: 180px;
        }

        &__line{
            transform: rotate(0deg);
            width: 100%;
        }

        &__social{
            justify-content: space-evenly;
            flex-direction: row;
            width: 40%;
        }
    }
}

@media (max-width: 485px) {
    .footer{
        grid-template-areas: "storeLogo socialMedia"
                             "sections  socialMedia"
                             "sections  socialMedia"
                             "separator separator"
                             "us us";
        grid-template-columns: 1fr .2fr;
        grid-template-rows: 1fr 1fr 1fr .1fr 1fr;
        place-items: center;
        height: 300px;
        grid-gap: 5px;

        &__logo{
            width: fit-content;
        }

        &__social{
            flex-direction: column;
            width: 100%;
        }
        
        &__us-logo{
            img{
                width: 25%;
            }
        }
    }

    
}
