.hero {
  background-color: var(--color-yellow);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;

  &__image {
    margin-bottom: 2rem;
    img {
      width: 100%;
      position: relative;
      bottom: -4px;
    }
  }

  &__title {
    padding: 0 1rem;

    p {
      position: relative;
      margin: 0;
      bottom: -10px;
    }

    h1 {
      position: relative;
      left: -4px;
      margin: 0;
      font-size: 3.4rem;
      color: #fff;
    }
  }

  &__cta {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    margin-bottom: 2rem;

    * {
      margin-right: 1rem;
    }
  }

  &__price {
    font-weight: 500;
    font-size: 1.1rem;
  }

  @media (min-width: 768px) {
    flex-direction: row;
    flex-direction: row-reverse;
    justify-content: center;

    &__image,
    &__cta {
      margin: 0;
    }

    &__title {
      h1 {
        font-size: 4.6rem;
        margin-bottom: 1rem;

        &::after {
          content: "Gotta Catch 'em All";
          position: absolute;
          left: 5px;
          bottom: 0;
          font-size: 0.8rem;
          font-weight: 400;
          color: #000;
        }
      }
    }
  }

  @media (min-width: 1280px) {
    &__title {
      p {
        bottom: -20px;
        font-size: 1.4rem;
        font-weight: 500;
      }

      h1 {
        position: relative;
        font-size: 8rem;

        &::after {
          font-size: 1rem;
        }
      }
    }

    &__image {
      width: 550px;
    }
  }
}

.banner {
  padding: 0.8rem;
  font-size: 14px;
  text-align: center;
  display: none;
  background-color: #393f3a;
  color: #fff;

  &__link {
    margin-left: 2rem;
    font-weight: 600;
    color: #fff;
  }

  @media (min-width: 768px) {
    display: block;
  }

  @media (min-width: 1280px) {
    padding: 1.2rem;
  }
}
