.home {
  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 70vh;
  }

  &__controls {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 319px) {
      width: 100vw;
    }
    padding: 1rem;
    justify-content: space-between;
    align-items: center;

    .search-bar {
      width: 100%;
    }

    .pagination {
      width: 100%;
    }

    @media (min-width: 768px) {
      .pagination {
        width: auto;
      }
    }
  }

  &__cards-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background: url('../../assets/icons/loader.svg') center/cover no-repeat;

    img {
      width: 175px;
    }

    @media (min-width: 1280px) {
      position: relative;
      top: 0;
      left: 22.5vw;
    }

    @media (min-width: 1440px) {
      position: relative;
      top: 0;
      left: 20vw;
    }

    @media (min-width: 1920px) {
      position: relative;
      top: 0;
      left: 15vw;
    }
  }

  &__cards {
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;

    @media (min-width: 1280px) {
      grid-template-columns: repeat(3, minmax(250px, 1fr));
    }
  }
}
