@mixin display($display: flex, $direction: column, $main-eje: space-between) {
  display: $display;
  flex-direction: $direction;
  justify-content: $main-eje;
}

.menu__container-logo,
.menu__icon,
.menu__secondary,
.buton,
#check {
  display: none;
}

.menu {
  height: 80px;
  width: 100%;
  padding-bottom: 16px;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 16px;
    padding-bottom: 0;
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 80px;
    left: -100%;
    z-index: 2;
    width: 80%;
    height: 300px;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--color-white);
    transition: all 0.5s;
    box-shadow: 1px -1px 24px var(--color-black-60);
  }

  &__item {
    position: relative;
    margin: 20px 0;
    // height: 200px;
    text-transform: uppercase;
    list-style: none;
    //Hijos de la lista que no tiene que estar en el menu ya que estan los iconos
    &:nth-child(3) {
      display: none;
    }
    &:nth-child(4) {
      // display: none;
    }

    .item__home {
      display: inline-block;
      img {
        width: 70px;
        height: 20px;
        padding-left: 5px;
        vertical-align: middle;
      }
    }

    &.menu__item--bag {
      cursor: pointer;
    }
  }

  .menu__shopping-cart {
    position: fixed;
    top: 80px;
    left: 100%;
    z-index: 10;
    width: 400px;
    padding: 10px;
    // height: 400px;
    background-color: rgb(255, 245, 245);
    transition: 0.25s linear;

    .menu__shopping-title {
      padding-left: 20px;
      font-size: 1.75rem;
      font-weight: 700;
    }
  }
  .menu__shopping-cart.is-active {
    display: inline-block;
    left: calc(100vw - 400px);
    transition: 0.25s linear;
  }

  .menu__shopping-cart-close {
    display: inline-block;
    position: relative;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    background: url('../../assets/icons/cart-close.svg') center/cover no-repeat;
    cursor: pointer;
  }

  .menu__shopping-items-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    min-height: 200px;
  }

  .menu__shopping-empty-msg {
    padding: 20px;
    font-weight: 500;
    display: flex;
    // text-align: center;
    justify-content: space-between;
  }
  .menu__shop-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &__link {
    font-weight: bold;
    text-decoration: none;
    color: var(--color-black);

    span {
      display: inline-block;
      position: absolute;
      top: -5px;
      left: 12px;
      width: 1rem;
      // height: 10px;
      background-color: red;
      text-align: center;
      border-radius: 50%;
      font-size: 0.75rem;
      color: var(--color-white);
    }
  }
}

.menu__icon-item {
  margin-left: 20px;
  cursor: pointer;
}

.checkbtn {
  cursor: pointer;
}

#check:checked ~ .menu__list {
  left: 0;
}

@media (min-width: 768px) {
  .menu__icons-container,
  .checkbtn {
    display: none;
  }
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 170px;
    &__nav {
      width: 100%;
      height: 60%;
      padding-top: 28px;
    }
    &__container-logo {
      display: block;
      margin: 0;
    }
    &__list {
      all: unset;
      display: flex;
    }
  }
  .menu__item {
    display: flex;
    align-items: center;
    margin: 0;
    margin-left: 24px;
    text-transform: unset;
    //Aparecen los iconos del los items 2 y 3
    &:nth-child(2) {
      display: inline-block;
    }
    &:nth-child(3) {
      display: inline-block;
    }
    //Escondo los items que iban en el menu hamburger pero en el horizontal no van
    &:nth-child(4) {
      // display: none;
    }
    &:nth-child(5) {
      display: none;
    }

    &.menu__home {
      display: none;
    }
  }
  .menu__link {
    font-weight: normal;
    text-decoration: none;
    color: var(--color-black);
  }
  //Escondo los links de los iconos ya que en este media querie no van.
  .menu__item:nth-child(2) .menu__link,
  .menu__item:nth-child(3) .menu__link {
    display: none;
  }
  .menu__icon {
    display: inline-block;
    margin-right: 8px;
  }
  .menu__secondary {
    display: flex;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    &-text {
      margin: 0;
      padding: 16px;
      font-size: 1.2rem;
    }
  }
  .buton {
    display: inline-block;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(10%);
  }
}

@media (min-width: 1280px) {
  //Aparecen los links de los items que anterirmente se esconsieron ya que
  //en este media querie se requieren.
  .menu__item:nth-child(2) .menu__link,
  .menu__item:nth-child(3) .menu__link {
    display: inline-block;
  }
}
