// Posicionamiento: display, position(static, relative, absolute, etc), etc.
// Modelo caja: content(width,height,min/max), padding, border, margin
// Tipografía: font-family, font-size, font-weight, line-height, etc.
// Visuales-estética: color, background, border-radius, box-shadow, etc.
// Otros: transition, animation, etc.
//   display:
//   position:
//   left/right/top/bottom:

//   width/(min-max):
//   height/(min-max):
//   padding:
//   margin:
//   border:

//   font-family:
//   font-size:
//   font-weight:
//   line-height:

//   color:
//   background:
//   border-radius:
//   box-shadow:
//   cursor:

//   transition:
//   animation-name:
//   animation-duration:
//   animation-iteration-count:

@mixin ripple($color) {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    border-radius: 100px;
    opacity: 0;
    transition: background 0.8s, opacity 0.8s;
    background: rgba($color, 0.01)
      radial-gradient(circle, rgba($color, 0.2) 1%, rgba($color, 0.01) 1%)
      center/15000%;
  }

  &:hover::before {
    opacity: 0.5;
  }

  &:active::before {
    background-color: rgba($color, 0.1);
    background-size: 100%;
    transition: background 0s;
    opacity: 1;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: 768px) {
    position: relative;
    top: 6vw;
    left: 0;
  }
  @media (min-width: 1280px) {
    flex-direction: row;
    top: 77px;
  }
}

.btn {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  background: none;
  border: 1px hidden;
  border-radius: 32px;
  cursor: pointer;
  @include ripple(#000);

  &--primary {
    color: var(--color-black-5);
    background: var(--color-primary);
    box-shadow: 0px 4px 4px rgba(57, 60, 63, 0.25);
    @include ripple(#fff);
  }

  &--big {
    font-size: 14px;
    padding: 18px 36px;
  }

  &--add {
    color: var(--color-black-5);
    background: var(--color-primary);
    box-shadow: 0px 4px 4px rgba(57, 60, 63, 0.25);
    @include ripple(#fff);
  }

  &--buy {
    color: var(--color-black-5);
    background: #393f3a;
    border: 1px solid #393c3f;
    box-shadow: 0px 4px 4px rgba(57, 60, 63, 0.25);
    @include ripple(#fff);
  }

  &:disabled {
    background: var(--color-black-60);
    color: var(--color-black-5);
    box-shadow: none;
    cursor: not-allowed;
  }
}

.detail {
  .btn--add {
    margin: 30px;
  }

  .btn {
    &--buy {
      padding: 11px 24px;
      background: var(--color-positive);
      border: none;
      @media (min-width: 1280px) {
        margin: 30px;
      }
    }
    &--buy .pokeball {
      width: 30px;
      height: 30px;
      margin-left: 15px;
    }
  }
}
