@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

:root {
  --color-primary: #1492e6;
  --color-primary-10: #e8f4fd;
  --color-primary-20: #d0e9fa;
  --color-primary-30: #b9def8;
  --color-primary-40: #a1d3f5;
  --color-primary-50: #8ac9f3;
  --color-primary-60: #72bef0;
  --color-primary-70: #5bb3ee;
  --color-primary-80: #43a8eb;
  --color-primary-90: #2c9de9;

  --color-black: #25282b;
  --color-black-5: #f9f9fa;
  --color-black-10: #e8e8e8;
  --color-black-20: #dbdde0;
  --color-black-40: #cacccf;
  --color-black-60: #a0a4a8;
  --color-black-80: #52575c;

  --color-white: #fff;
  --color-yellow: #f6cf06;
  --color-pokedex: #e84848;

  --color-warning: #f6a609;
  --color-warning-light: #ffbc1f;
  --color-warning-dark: #e89806;
  --color-positive: #2ac769;
  --color-positive-dark: #1ab759;
  --color-positive-light: #40dd7f;
  --color-negative: #fb4e4e;
  --color-negative-dark: #e93c3c;
  --color-negative-light: #ff6262;

  /*pokemon bg types*/
  --color-type-gray: #dae2e9;
  --color-type-green: #cfecbe;
  --color-type-yellow: #fbf2c4;
  --color-type-red: #fce0dd;
  --color-type-blue: #e0efff;
  --color-type-purple: #f1d2ff;

  --font-family-montserrat: 'Montserrat', sans-serif;
}
